body{
    background-color: rgb(241, 207, 162);
    font-size: 20px;
 }
h1{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: 12;
    font-weight: 900;
}
h4{
    color: rgb(24, 165, 115);
    font-size: 12;
}
#zoneTexte{
    background-color: rgb(241, 207, 162);
    color: red;
    font-weight: 900;
}