body{
    background-color: rgb(241, 207, 162);
    }
h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: xx-large;
    font-weight: 900;
}
#visu1{
    color: rgb(55, 0, 255);
    font-family: sans-serif;
    font-size: 20;
    font-weight: 900;
    position: relative;
    left: 90px;
}
#zoneTexte{
    background-color: rgb(241, 207, 162);
    color: rgb(55, 0, 255);
    font-family: sans-serif;
    font-size: 16;
    font-weight: 900;
}
#demande{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
}
#nom{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
}
#age{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
}
#entree1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
}
#entree2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
}